/* Define the custom font */
@font-face {
    font-family: 'CustomFont'; /* Give your font a name */
    src: url('path-to-your-font.woff2') format('woff2'); /* Use the correct path to your font file */
    /* You can include additional src lines for different font formats (e.g., woff, ttf, etc.) */
    /* Make sure to have the necessary font formats for cross-browser compatibility */
}

.calculator {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #080000;
    border-radius: 5px;
    background: linear-gradient(to bottom, #a2e0dd, #a6d9e8);
    display: inline-block;
    box-shadow: 0 0 10px rgba(2, 0, 0, 0.1);
    font-family: 'CustomFont', Arial, sans-serif;
}

.calculator h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 10px;
    color: #08edce; 
    font-family: 'CustomFont', Arial, sans-serif;
}

#display {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    font-size: 24px;
    background-color: #d29af0;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(95, 29, 229, 0.1);
    text-align: left;
    font-family: 'CustomFont', Arial, sans-serif;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.button {
    padding: 15px;
    font-size: 20px;
    text-align: center;
    background-color: #900ef3;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(140, 8, 87, 0.1);
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s, box-shadow 0.2s;
}

.button:hover {
    background-color: #eba2a2;
}

.button:active {
    transform: scale(0.95);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}